@font-face {
    font-family: 'Barlow_Condensed';
     src: url("assets/fonts/Barlow_Condensed.ttf");
   }

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

html {
    scroll-behavior: smooth; 
  }

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    size: 5; 
    color:cornflowerblue; 
    transition:1.6s;
  }

.container {
    max-width: 1440px;
    margin: 0 auto;
  }

* {
    box-sizing: border-box;
}

.header {
    border: 1px solid red;
}

.main {
    border: 1px solid red;
}

.footer {
    border: 1px solid red;
}
.text-123 {
    background-color: deepskyblue;
}